<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse navbarText" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">       
             <a class="nav-link active" routerLink="" routerLinkActive="active"><h4>Home</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/developers" routerLinkActive="active"><h4>Developers</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addDevs" routerLinkActive="active"><h4>Servicios</h4></a>
          </li>
        </ul>
  </div>
  </nav>